<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
    <header class="top">
        <input type="image" src="/assets/images/logo.svg">
        <input type="image" src="/assets/images/user.svg">
    </header>
    <main>
        <div class="login">
            <h1>LOGIN</h1>
            <div class="dados">
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Senha">
            </div>
            <div class="buttons">
                <input type="button" value="Voltar">
                <input type="button" value="Cadastrar">
                <input type="button" value="Entrar">
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>